@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    <li><a href="@Url.Action("Index", "Creatives")">Creatives</a></li>
    <li><a href="@Url.Action("Index", "Keywords")">Keywords</a></li>
    <li><a href="@Url.Action("Index", "Trackers")">Trackers</a></li>
    <li><a href="@Url.Action("Index", "Campaigns")">Campaigns</a></li>
</ul>