@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    <li><a href="@Url.Action("Index", "Creatives", new { account = 10035, session = "" })">Creatives</a></li>
    <li><a href="@Url.Action("Index", "Keywords", new { account = 10035, session = "" })">Keywords</a></li>
    <li><a href="@Url.Action("Index", "Trackers", new { account = 10035, session = "" })">Trackers</a></li>
    <li><a href="@Url.Action("Index", "Campaigns", new { account = 10035, session = "" })">Campaigns</a></li>
</ul>