

body {
background-color:	#fff;
color:				#000;

}
#main{

}
iframe{
	width: 100%;
	text-align: center;
}
#main #content  {
	width:450px;

  

	font-family:		Verdana;
color:				#333;
background-color:	#fff;
padding:			30px 5px 30px 20px;
width: 				 450px;
margin:				0 auto;
 margin-left: 25%\9 ;
background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(245,242,245)),
    color-stop(0.17, rgb(250,250,250)),
    color-stop(0.79, rgb(255,255,255))
);
background-image: -moz-linear-gradient(
    center bottom,
    rgb(245,242,245) 0%,
    rgb(250,250,250) 17%,
    rgb(255,255,255) 79%
);
filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#f0f0f0');
-webkit-box-shadow: 0px 0px 10px #dbd8db;
-moz-box-shadow: 0px 0px 10px #dbd8db;
box-shadow: 0px 0px 10px #dbd8db; 
-moz-border-radius: 5px; /* FF1+ */
-webkit-border-radius: 5px; /* Saf3-4 */
border-radius: 5px;
border:1px solid #E5E5E5;
          
}
#main h1 {
	font-family:		Verdana;
font-weight:		bold;
font-size:			14px;
color:				#616161;
margin: 			0 0 4px 0;
padding-bottom:5px;

}

#main h2{
	font-family:		Verdana;
font-size:12px;
color:#c81616;
}

#main p{
	font-family:		Verdana;
font-size:12px;
color:#616161;
}
