	
body{	
	margin:0 auto;
	overflow: auto;
	    font-family: verdana;

}
#container {
	font-family: verdana;
}

#logo {
	float:left;
	margin-top:15px;
	width: 95px;
	height: 45px;
	margin-left: 30px;
}

#gear {
	width: 20px;
	height: 20px;
}
.toolIcons {
	width: 48px;
	height: 48px;
	cursor: pointer;
	}
.toolsTable{
	position:absolute;
           top:5%;
           left:15%;
	text-align: left;
	}
.toolsTable td{
	padding:10px;	
	}
#inner
{
	width: 100%;
	display: table !important;
	border-spacing: 10px;
	margin-top: -10px;
	/*overflow:hidden;*/
}

#menu {

	/*
	float: left;
	margin-right: 10px;
	
	*/
	display: table-cell !important;
	vertical-align: top;
	width: 1px;
	

	
	/*
	-webkit-transition: all 1.5s ease-in;
	-moz-transition: all 1.5s ease-in;
	-o-transition: all 1.5s ease-in;
	transition: all 1.5s ease-in;
	position: relative;
	
	*/
	
}

#menuwrapper{
	display: block;
	margin-left: 0px;
	width: 200px;
	
}

#sub{
	/*width:100%;*/
	
	position:relative;
	top: 16px;
	
	/*height: 800px;*/
	/*width:200px;*/
	margin-left:0px;
	
}


#accountwrapper  li ul{
	padding: 5px 0px 0px 14px;
	
}
#accountwrapper  ul li,#accountwrapper  ul li a{
	list-style: none;
	font-weight: normal;
	color: #616161;
    font-weight: normal;
    list-style: none outside none;
    text-decoration: none;
	font-size: 12px;
	padding:2px;
	/*list-style-image:url('../img/bullet-kid_03.png') !important;*/
}
#accountwrapper ul li ul li,#accountwrapper   ul li ul li a{
	list-style: none;
	font-weight: normal;
	color: #616161;
	text-decoration: none;
	margin-top:3px;
	
}
#accountwrapper ul>li.parent{
		list-style-image:url('../img/bullet-kid_03.png');
		    margin-left: 24px;
		text-indent: -6px;
	
}
header {
	height:60px;
	display:block;
	overflow:hidden;
	background: -moz-linear-gradient(top, #F3F3F3, white 30%);

}


#main {
	
	display: table-cell; 
	  
	/*
	height: 800px;
	width: 800px;
	  min-width:82%;
	  max-width:100%;
	*/
	-webkit-transition: all 1.5s ease-in-out;
	-moz-transition: all 1.5s ease-in-out;
	-o-transition: all 1.5s ease-in-out;
	transition: all 1.5s ease-in-out;
	margin-right:10px;
	
}

#top{
	float: left;
	
}
#top ul{
	margin: 0px 0px 0px 0px;
	padding:0px;
	
}
#top ul li{
	float: left;
	list-style: none;
	margin-left: 10px;
	
}
#top ul li a{
	color:	#83888E;
	 text-decoration: none;
	
}

/* accounts menu container */
#accounts{
	/*width:100%;*/
	height:80px;
	background-color: #f7f7f7 ;
	background-image: -moz-linear-gradient(top, #f7f7f7 , #f1f1f1 ); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f7f7f7 ),color-stop(1, #f1f1f1 )); /* Saf4+, Chrome */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f7f7f7 ', EndColorStr='#f1f1f1 ')"; /* IE8 */
	
	position: relative;
	z-index:100;
	font: verdana;
	font-weight: bold;
	color: #4A4A4A;
	 margin-top: -10px;
	overflow: hidden;
	/*float: left;*/
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=135, Strength=3);
	

}
#accounts #Campaign{
	 font-size: 12px;
    font-weight: normal;
    height: 30px;
    margin: 0 auto;
    padding-left: 38px;
    text-align: left;
    width: 100%;
	
}
#Campaign{
	border-top:1px white\9;
	
}
#accountwrapper li .campaign{
	font-weight: bold;
	text-indent: 13px;
	cursor: pointer;
	
}
#accountwrapper li.campaign  span a {
	font-weight: bold;
	text-indent: 13px;
	cursor: pointer;
	
}
ul.head{
	margin-left: 0px;
	padding-left: 6px;
	
}
#selected{

	 -moz-border-bottom-colors: white #E5E5E5;
	border-bottom: 2px solid #E5E5E5;
    float: none;
    font-family: verdana;
    font-size: 12px;
    height: 30px;
    margin: 10px auto;
    padding-left: 12px;
    text-align: left;
	width: 148px;
	line-height: 20px;
	  border-bottom: 1px solid #E5E5E5\9;
	  text-indent:8px;
	
}
#accountwrapper>ul{
	margin-top:0px; 
	padding-left: 6px;
	 _padding-left: 12px;
	
}
#accountwrapper ul li ul li{
	font-family: verdana;
	font-size: 10px;
	list-style-image:url('../img/bullet-grandkid_03.png');
	
}
#accountwrapper ul li ul li ul li{
list-style-image:url('../img/bullet-grandkid_03.png');

}
#slider{
	 line-height: 13px;
    margin-bottom: 15px;
    margin-left: 10px;
    position: relative;
    top: -4px;
    width: 63px;
}
#slider span a,#slider span a:active,#slider span a:visited{
	cursor: hand;
	border: 0px;
	outline: none;
}
#slider img{
	 height: 13px;
    margin-left: 1px;
    margin-top: 3px;
    position: relative;
    top: 2px;
    width: 14px;
    outline: none;
    border: 0px;
}

/* section  */
h2.trigger {
	background:#90B63D url('../img/plus_04.png') 6px no-repeat ;
	float:left;
	font-family:"verdana";
	font-size:12px;
	font-weight:bold;
	height:25px;
	line-height:25px;
	outline:medium none;
	padding:0 0 0 0px;
	position:relative;
	width:100%;
	margin-top:0px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	text-indent: 10px;
	cursor: pointer;
	margin-bottom: 10px;
}
h2.trigger span {
	color:white;
	display:block;
	margin-left:30px;
	text-decoration:none;
}
h2.trigger:hover {

	background-image:url("../img/plus-hover_04.png") 6px no-repeat ;

}

h2.active {

	background-image:url("../img/minus_04.png") ;
	

}
/*--When toggle is triggered, it will shift the image to the bottom to show its "opened" state--*/

h2.active:hover {
	background:#90B63D url("../img/minus-hover_04.png") 6px no-repeat;

}
.toggle_container {
	margin: 0px 0px 0px 0px;
	padding: 0;
	font-family:verdana;
	line-height:24px;
	font-size: 12px;
	overflow:hidden;
	width: 100%;
 clear: both;
	 /*
	
	transition: all ease-in 1.5s; 
    -o-transition: all ease-in 1.5s;
    -moz-transition: all ease-in 1.5s;
    -webkit-transition: all ease-in 1.5s;
    -moz-transform:rotate(360deg);	
	-webkit-transform:rotate(360deg);	
   
*/
}
.toggle_container .block {
	padding: 0px; /*--Padding of Container--*/
	margin-top:0px;
	margin-bottom:0px;
	transition: height ease-in-out 500ms; /* css3 transition */
    -o-transition: height ease-in-out 500ms;
    -moz-transition: height ease-in-out 500ms;
    -webkit-transition: height ease-in-out 500ms;
}

/* Login section*/
#login {

	 color: #83888E;
    float: right;
    font-size: 12px;
    margin-top:10px;
    margin-right:10px;
   
	
	
}

span#loginout a{
	color:#96BA4B;
	margin-right: 0px;
	font-size: 10px;
	text-decoration: none;
}

#user{
	
	float: left;
}
#user span {
	font-weight: bold;
	font-family: Verdana;

}




/* menu */
.list {
	width:181px;
	color:#616161;
	padding-left: 32px;
	margin-top: 0;

}

.list a {

	color:#666;

	text-decoration: none;
	padding-right:100%;
	outline: none;
	width: 160px;
	cursor: pointer;
	
}
.list a:active {
	color: white;
	text-decoration: none;

}
ul.list li{
	list-style: none;
	margin:2px 0px 2px 0px; 
	color:#666666;
	line-height: 24px;

	
}
ul.list li a {
	border-radius:5px;
	 -webkit-border-radius: 5px 5px 5px 5px;
	 -moz-border-radius: 5px 5px 5px 5px;
    color: #616161;
    display: block;
    font-family: verdana;
    font-size: 12px;
    padding: 2px 0 2px 8px;
    /*
    height: 18px;
    */
    line-height: 18px;
    margin-left: -5px;
	text-indent: 6px;
    
    
}
.list li a:hover {
	background-color: #E2EDCD;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

/*sub menu */
ul.list li ul li{
	list-style-type:circle;
	margin-left: -17px;
	
}

ul.list li ul li a{
	width:137px;
	
}
ul.list li ul li ul li{
	
	list-style-type:circle;
	margin-left: -17px;
	
	
}

ul.list li ul li ul li a{
	width:114px;
	
}
#footer {
	margin-top:10px;
	height: 90px;
	text-align: center;

}





.selected {
	background-color: #E2EDCD;
	

}
li.current > a {
	color:white;
	display:block;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	display: block;
	width: 159px;
}
#sub ul li.current> a  , #sub ul li.current> a:hover {
	background:url("../img/white-arrow-space-right_03.png") no-repeat scroll right center #8D8D8D;
	position: relative;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	color:white;
	
}

#sub ul li ul li.current> a,#sub ul li ul li.current> a:hover{
	
	background:url("../img/white-arrow-space-right_03.png") no-repeat scroll right center #8D8D8D ;
	position: relative;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;.
	color: white;
	
}

#ajaxloader {
	background: url("../img/loading-box.png") no-repeat scroll right center transparent;
	background:#fff \9;
    height: 159px;
    left: 684px;
    position: absolute;
    top: 153px;
    width: 233px;
  color: #616161;
}
#ajaxloader img {
	left: 39%;
    position: absolute;
    top: 39%;

}

#ajaxloader b {
	bottom: 15px;
    display: block;
    margin-bottom: 10px;
    margin-left: 38%;
    position: absolute;
    width: 100%;
	
}
#show {
	display: block;

}
#slider span {
	font-size: 12px;
	color:#8D8D8D;
	margin-right: 5px;
	font-weight: bold;

}
#caption {
	color:#8D8D8D;
	display:none;
	font-size: 10px;
	font-family: verdana;
	 margin-top: 4px;
	 width: 30px;
	 

}
.closed {
	/*
	-webkit-transition: all 1.5s ease-in-out;
	-moz-transition: all 1.5s ease-in-out;
	-o-transition: all 1.5s ease-in-out;
	transition: all 1.5s ease-in-out;
	
	*/
	-moz-transform:rotate(180deg);
	-webkit-transform: rotate(180deg);

}
.hide {
	margin-left:-20%;

}
.sidebar #main {
	width:100%;
	/*
	-webkit-transition: all 1s ease-in;
	-moz-transition: all 1s ease-in;
	-o-transition: all 1s ease-in;
	transition: all 1s ease-in;
*/
}


.hidden{
	height: 0px;
	transition: all ease-in-out 1s; 
    -o-transition: all ease-in-out 1s;
    -moz-transition: all ease-in-out 1s;
    -webkit-transition: all ease-in-out 1s;

	
	
}

.toggled{
	height: 0px;
	transition: all ease-in-out 1.5s; /* css3 transition */
    -o-transition: all ease-in-out 1.5s;
    -moz-transition: all ease-in-out 1.5s;
    -webkit-transition: all ease-in-out 1.5s;
	-moz-transform:skew(0deg);	
	-webkit-transform:skew(0deg);	
}

/*Breadcrumbs */
#breadcrumbs{
	color: #666666;
    float: left;
    font-family: verdana;
    font-size: 12px;
    height: 27px;
    margin-left: 62px;
    margin-top: 26px;
    position: relative;
	
}
#breadcrumbs ul{
	
	list-style: none;
	
	
}
#breadcrumbs ul li{
	line-height:30px;
	list-style: none;
	float: left;
	margin-left: 0px;
	margin-right: 5px;
	/*background:url('../img/breadcrumb-arrow_03.gif') 60px  no-repeat  \9;
	margin-left: 13px\9;
	text-align:left \9;
*/


	
}

/*
#breadcrumbs ul li::after{
	content:url('../img/breadcrumb-arrow_03.gif') ;
	top:14px;
	margin-right: 0px;
	


		
	
}

/*
#breadcrumbs ul> li:after{
	content:url('../img/breadcrumb-arrow_03.gif') ;
	top:14px;
	margin-right: 0px;
	/*
	position: absolute;
*/
#breadcrumbs li.bread{
	background-image: url("../img/breadcrumb-arrow_03.gif");
    display: block;
    height: 13px;
    position: relative;
    top: 9px;
    width: 17px;
}
#breadcrumbs ul li:last-child{
	
	font-weight: bold;
	
}


/*
#breadcrumbs ul> li:last-child:after{
	content: "" !important ;
	
}
*/
#head{
	width: 100%;
	overflow: hidden;
	position: relative;
	
}
#favicon{
	left: 17px;
    position: absolute;
    top: 12px;
}

#arrow{
	 height: 20px;
    position: absolute;
    right: 19px;
    top: 11px;
    width: 19px;
	cursor: pointer;
}
.regular{
	background: url("../img/down-arrow_04.png") no-repeat scroll  transparent;
	
}
.pressed{
	background: url("../img/down-arrow-pressed_04.png") no-repeat scroll  transparent;
	
}
.folded{
	height:80px;
	
	
	/*
	transition: all linear 1.5s; 
    -o-transition: all linear 1.5s;
    -moz-transition: all linear 1.5s;
    -webkit-transition: all linear 1.5s;
    
	*/
	-moz-box-shadow: 2px 1px 1px #CCC; 
	-webkit-box-shadow: 2px 1px 1px #CCC; 
	box-shadow: 2px 1px 1px #CCC;
	-moz-border-radius: 5px 5px 5px 5px; /* FF1+ */
		-webkit-border-radius: 5px 5px 5px 5px; /* Saf3-4 */
		border-radius: 5px 5px 5px 5px;
}

.unfolded{
	/*
	transition: all linear 1.5s; 
    -o-transition: all linear 1.5s;
    -moz-transition: all linear 1.5s;
    -webkit-transition: all linear 1.5s;
	
	
	  
	  */
		-moz-border-radius: 5px 5px 0px 0px; /* FF1+ */
		-webkit-border-radius: 5px 5px 0px 0px; /* Saf3-4 */
		border-radius: 5px 5px 0px 0px;
	  -webkit-box-shadow:4px 2px 1px #CCCCCC;
	  	box-shadow: 4px 2px 1px #CCCCCC;
	    -moz-box-shadow: 4px 2px 1px #CCCCCC;
	 	height:auto;

}
.shadow{
	
	-moz-box-shadow: 2px 1px 1px #CCC; 
	-webkit-box-shadow: 2px 1px 1px #CCC; 
	box-shadow: 2px 1px 1px #CCC;
	
}
.shadowOpen{
	 -webkit-box-shadow:4px 2px 1px #CCCCCC;
	  	box-shadow: 4px 2px 1px #CCCCCC;
	    -moz-box-shadow: 4px 2px 1px #CCCCCC;
	 	height:auto;
	
}
iframe{
	width: 100%;
	
	border: 0px;
	/*
	min-height: 633px;*/

	background-color:white;
	height:100%;
	
	margin-bottom: 10px;
	 margin-bottom: -10px\9;
}

.disabled{
	
	   cursor: default !important;
	 color:#D7D7D7 !important;  	
	/*
	opacity: 0.5;
	filter: alpha(opacity = 50);
	*/
}
li.disabled{
	list-style-type:none\9;
	list-style-position: outside;
}

ul.list li ul li.disabled{
	
	list-style-type:none\9;
	list-style-position: outside;
}
ul.list li ul li.disabled{
	
	list-style-type:none\9;
	list-style-position: outside;
}
.disabled:hover{
	background-color: white;
	
}
.last{
	font-weight: bold;
	
	
}

#accountwrapper{
	overflow: auto;
width:200px;
width: 200px\9;
float: left;
max-height: 400px;
margin-bottom: 10px;
margin-left: 0px;
top: 132px;
padding-bottom: 10px !important;
font: verdana;
font-weight: bold;
color: #4A4A4A;
position: absolute;
z-index: 10000;
display: block;
-moz-border-radius: 0px 0px 5px 5px;
-webkit-border-radius:0px 0px5px 5px;
border-radius:0px 0px 5px 5px;
background-color: #F3F3F3 ;
background-image: -moz-linear-gradient(top, #F3F3F3 , #F3F3F3 ); /* FF3.6 */
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #F3F3F3 ),color-stop(1, #F3F3F3 )); /* Saf4+, Chrome */
filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=135, Strength=3);
display: none;
   }

#accountwrapper ul{
    margin-top: 5px;
    margin-left: 8px;
margin-bottom: 1px;
	
}

#accountwrapper ul li ul{

margin-left: 0px;
	
	
}
#accountwrapper ul li> ul{
	
	margin-top: -5px;
}
#accountwrapper ul li>a:hover, #accountwrapper span>a:hover{
	background-color: #E3EDCA;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 2px;
}

#Campaign a,#Campaign a:active,#Campaign a:visited{
	color: #4A4A4A;
	text-decoration: none;
	
}
.parent li.menuitem{
		list-style-type:none\9;
	
}

