body { font-family:Arial; font-size:13px; padding:0px; margin:0px; direction:ltr; text-align:left; }
a:link      { color:#7ca826;  }
a:visited   { color:#7ca826;  }
a:hover     { color:#7ca826;  }

#ControllerDialogDiv    { width:600px; height:450px; background-color:#FFFFFF; position:fixed; top:50%; margin-top:-225px; right:50%; margin-right:-300px; display:none; z-index:1200; overflow:hidden; }
#ScreenOverlay          { position:fixed; filter:Alpha(Opacity=80); background-color:rgb(0,0,0); opacity:0.1; z-index:-1000; display:none; top:0px; left:0px; }
#LoadingMessage         { width:100px; height:25px; position:fixed; top:50%; margin-top:-12px; text-align:center; padding-top:8px; font-weight:bold; right:50%; margin-right:-50px; display:none; z-index:4000; background-color:#FFFFFF;  } 

#SiteContainer          { margin:5px; padding:5px; }

.IndexTopNav        { margin-bottom:10px; overflow:auto; }
.searchText         { width:200px; height:20px; border:1px solid #8d8d8d; }

.IndexTable         { min-width:200px; border:1px solid silver; padding:2px; font-family:Arial; font-size:13px; }
.IndexTableHeader   { background-color:#8d8d8d; color:White; overflow:auto; height:19px; padding-top:7px; padding-bottom:7px; margin-bottom:2px; }
.IndexTableRow      { background-color:#f5f5f5; color:black; overflow:auto; height:19px; padding-top:7px; padding-bottom:7px;  border-top:1px solid silver; }   
.IndexTableRow:hover { background-color:#e3edcb; }
.IndexTableRow.selected { background-color:#e3edcb; } 
.IndexTableName     { float:left; width:50%; color:#7ca826; height:19px; overflow:hidden; cursor:pointer; }
.IndexTableDesc     { float:left; width:50%; color:#666666; height:19px; overflow:hidden; }
.IndexTableRowNoResult  { height:19px; padding-top:7px; padding-bottom:7px; padding-left:5px; display:none; }

.IndexTableContainer .IndexTableRow         { background-color:#FFFFFF; }
.IndexTableContainer .IndexTableRow:hover   { background-color:#e3edcb; }
.IndexTableContainer .IndexTableRow.selected { background-color:#e3edcb; } 

.FilterSegment      { float:left; margin-right:10px; }
.FilterSegmentTitle { margin-bottom:4px; } 

#CampaignsIndexTable .IndexTableRow { height:21px; }
#CampaignsIndexTable .IndexTableDesc { height:21px; }


#container                      { padding:25px; height:350px; background-color:Gray; }

.containerTitle                 { font-size:18px; color:White; margin-bottom:20px; }

#Tabs                           { overflow:auto;  margin-bottom:0px;  }
#TabsContent                    { position:relative; overflow:hidden; border:1px solid #8c8e94; border-top:0px; width:550px; height:250px; background-color:#FFFFFF; }

#container ul.menu              { margin:0px; padding:0px; list-style: none; list-style-position: outside; }
#container ul.menu li           { margin:0px; float:left; color:Black; padding:5px 10px 4px 10px; margin-right:-1px; cursor: pointer; border:1px solid #8c8e94; background-color:#d1d1d1; }
#container ul.menu li:first-child {  }
#container ul.menu li.active    { background-color:#FFFFFF; color:#000000; border-bottom:1px solid white; }
.content                        { position:absolute; top:0; left:0; padding:20px; width:510px; height:210px; overflow:auto; }

#Buttons                        { margin-top:10px; }
#Buttons input                  { float:right; margin-left:10px; width:60px; height:25px; }

.segmentRow         { margin-bottom:10px; overflow:auto; clear:both; }
.segmentRowName     { float:left; width:120px; padding-top:3px; }
.segmentRowValue    { margin-left:130px; }
.segmentRowValue select { width:200px; }   
.segmentRowValue.appliedTo  { float:none;  }
.segmentRowValue.appliedTo span { color:#7ca826; }

.associationRow     { margin-bottom:5px; }
.associationRow span    { color:#7ca826; }

.adgroupInnerTable          { border:1px solid silver; background-color:White; padding:2px; padding-bottom:0px; }
.adgroupInnerTableHeader    { background-color:#8d8d8d; color:White; overflow:auto; height:16px; padding:4px; margin-bottom:2px; }
.adgroupInnerTableRow       { background-color:#E6E6E6; color:#042271; overflow:auto; padding:3px; margin-bottom:2px; }
.adgroupInnerTableRow:hover { background-color:#D3D3D3; } 

.adgroupInnerTableRow .segmentRowValue input[type=text] { width:135px; }

.campaignButtonClose        { width:19px; height:19px; float:left; margin-left:10px; background-image:url('images/tb-closed.png'); }
.campaignButtonClose:hover  { width:19px; height:19px; float:left; margin-left:10px; background-image:url('images/tb-closed-hover.png'); }

.campaignButtonOpen         { width:19px; height:19px; float:left; margin-left:10px; background-image:url('images/tb-open.png'); }
.campaignButtonOpen:hover   { width:19px; height:19px; float:left; margin-left:10px; background-image:url('images/tb-open-hover.png'); }

.campaignMultiSelect        { float:left; margin-left:20px; }

input.errorValue            { border:1px solid red; }