<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<client>
			<endpoint
					 binding="wsHttpBinding"
					 bindingConfiguration="WSHttpBinding_IOltpLogic"
					 contract="Easynet.Edge.UI.Server.IOltpLogic"
					 name="IOltpLogic_Endpoint"
					 address="http://localhost:3344/OltpLogic.svc"
			/>

			<!--<endpoint
					  binding="customBinding"
					  bindingConfiguration="Https_IOltpLogic"
					  contract="Easynet.Edge.UI.Server.IOltpLogic"
					  name="IOltpLogic_Endpoint"
			/>-->
		</client>

		<bindings>
			<wsHttpBinding>
				<binding name="WSHttpBinding_IOltpLogic"
						 closeTimeout="00:00:30"
						 openTimeout="00:00:30"
						 receiveTimeout="00:00:30"
						 sendTimeout="00:00:30"
						 allowCookies="false"
						 bypassProxyOnLocal="false"
						 hostNameComparisonMode="StrongWildcard"
						 maxBufferPoolSize="524288"
						 maxReceivedMessageSize="52428800"
						 messageEncoding="Text"
						 textEncoding="utf-8"
						 useDefaultWebProxy="true"
						 >
					<reliableSession enabled="True" ordered="False" inactivityTimeout="00:20:00" />
					<security mode="None" />
				</binding>
			</wsHttpBinding>

			<customBinding>
				<binding name="Https_IOltpLogic"
						 closeTimeout="00:00:30"
						 openTimeout="00:00:30"
						 receiveTimeout="00:10:00"
						 sendTimeout="00:10:00"
						 >
					<reliableSession ordered="False" inactivityTimeout="00:20:00" maxRetryCount="3" />
					<httpsTransport maxReceivedMessageSize="52428800"/>
				</binding>
			</customBinding>
		</bindings>

		<diagnostics>
			<messageLogging
				 logEntireMessage="true"
				 logMalformedMessages="true"
				 logMessagesAtServiceLevel="true"
				 logMessagesAtTransportLevel="true"/>
		</diagnostics>

	</system.serviceModel>
</configuration>