@model List<Oltp.KeywordRow>
@using Easynet.Edge.UI.Data;

<div class="IndexTable">
    <div class="IndexTableHeader">
        <div class="" style="float:left; width:50%; height:14px; overflow:hidden;"><div style="padding-left:30px;">Name</div></div>
    </div>
    @foreach (Oltp.KeywordRow keyword in Model)
    {
        <div class="IndexTableRow">
            <div class="IndexTableName"><div style="padding-left:30px;" onclick="openKeywordDetails(@keyword.GK)">@keyword.Keyword</div></div>
        </div>
    }
</div>