@model EdgeBiUI.Models.CreativeListModel
@using Easynet.Edge.UI.Data;

<div class="IndexTable">
    <div class="IndexTableHeader">
        <div class="" style="float:left; width:50%; height:14px; overflow:hidden;"><div style="padding-left:30px;">Name</div></div>
        <div class="" style="float:left; width:50%; height:14px; overflow:hidden;">Description</div>
    </div>
    @foreach (Oltp.CreativeRow creative in Model.Creatives)
    {
        <div class="IndexTableRow" id="IndexTableRow_@(creative.GK)" onclick="selectRow(@(creative.GK), false);">
            <div class="IndexTableName"><div style="padding-left:30px;" onclick="openCreativeDetails(@creative.GK)">@creative.Title</div></div>
            <div class="IndexTableDesc">@(creative.IsDesc1Null() ? "" : EdgeBiUI.Auxilary.Helpers.GetShortDescription(creative.Desc1, 60))</div>
        </div>
    }

    @if (Model.Creatives.Count == 0)
    {
        <div class="IndexTableRowNoResult">No Creatives Found</div>
    }
</div>