@model List<EdgeBiUI.Models.AdgroupRowModel>
@using Easynet.Edge.UI.Data;


    @foreach (EdgeBiUI.Models.AdgroupRowModel adgroup in Model)
    {
        <div class="IndexTableRow" id="IndexTableRow_@(adgroup.AdgroupGK)" onclick="selectRow(@(adgroup.AdgroupGK), false);">
            <div class="adgroupMultiSelect" style="float:left; margin-left:50px;">
                    <input type="checkbox" name="adgroupMultiSelect_@(adgroup.AdgroupGK)" />
            </div>
            <div class="IndexTableName">
                <div style="margin-left:20px; padding-top:2px; padding-bottom:1px; padding-left:20px; background-image:url('@Url.Content("~/Content/images/bullet.png")'); background-repeat:no-repeat; background-position:left 0px top 3px" onclick="openAdgroupDetails(@adgroup.AdgroupGK)" title="GK=@adgroup.AdgroupGK">
                    @adgroup.AdgroupName
                </div>
            </div>
        </div>
    }